= bootstrap_form_for :session, url: session_path, turboboost: true, data: {'turboboost-allowed-httpstatus' => 401} do |form|
  = form.text_field :email, class: 'form-control', type: :email
  = form.password_field :password, class: 'form-control'
  = form.submit class: 'btn btn-primary'
